*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

:root {
    
    Soft orange: hsl(35, 77%, 62%)
    Soft red: hsl(5, 85%, 63%)
    Off-white: hsl(36, 100%, 99%)
    Grayish blue: hsl(233, 8%, 79%)
    Dark grayish blue: hsl(236, 13%, 42%)
    Very dark blue: hsl(240, 100%, 5%)

}

body{
    background:  hsl(36, 100%, 99%);
    /* font-size:  15px ;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"slnt" 0; */

}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    background: hsl(36, 100%, 99%);
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

nav ul {
    display: flex;
    margin-right: 10px;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 1rem;
}

nav ul li a {
    color: hsl(240, 100%, 5%);
    text-decoration: none;
}

.icon-menu {
    display: none;
    cursor: pointer;
    width: 35px;
}
a:hover {
    color: hsl(5, 85%, 63%);
    transition: .5s;
}

.logo img {
    width: 60px;

}

/* end of the header*/

.Colmar {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding-left: 100px;
    padding-right: 115px;
    gap: 1rem;
}

.Colmar img {
    width: 800px; 
    height: 330px;
    object-fit: cover;
    border-radius: 5px;
}

.col-mm-00 {
    display: flex;
    justify-content: space-between;
}

.col-mm-00 .Bright{
    margin-top: 0.8rem;
    font-size: 2.2rem;
    font-weight: bold;
}

.col-mm-00 .light{
    margin-top: 1rem;
    max-height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color:  hsl(236, 13%, 42%);
}

.col-mm-00 .button{
    margin-top: 2rem;
    color:hsl(36, 100%, 99%) ;
    background: hsl(240, 100%, 5%);
    padding: 8px 15px;
}

.button:hover{
    color: hsl(36, 100%, 99%);
    background:hsl(5, 85%, 63%);
    cursor: pointer;
}

.col-md-02{
    padding: 10px 10px;
    background:hsl(240, 100%, 5%) ;
}

.col-md-02 h1{
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.col-md-02 h5{
    color:hsl(36, 100%, 99%);
    font-size: 1rem;
    margin-top: 3rem;
    
}

.col-md-02 h5:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.col-md-02 p{
    color:hsl(236, 13%, 42%);
    font-size: 0.7rem;
    line-height: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.col-md-02 .content{
    border-bottom: 1px solid hsl(233, 8%, 79%); 
    margin-bottom: 10px;
}

.col-md-03{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 100px;
    padding-right: 100px;
    gap: 4rem;
}

.col-md-03 img{
    width: 6rem;
    border-radius: 5px;
    box-shadow: -5px -15px 7px -24px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px -15px 7px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px -15px 7px -24px rgba(0,0,0,0.75);
}

.col-mm-01 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.col-mm-01 h6{
    color:hsl(233, 8%, 79%);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.col-mm-01 .one{
    font-size:0.9rem ;
    color: hsl(240, 100%, 5%);
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.col-mm-01 .one:hover{
    color:hsl(35, 77%, 62%);
    cursor: pointer;
    
}

.col-mm-01 .two{
  color:hsl(236, 13%, 42%);
  font-size: 0.7rem;
  line-height: 1rem;
}


.attribution {
    font-size: 0.8rem;
    padding-left: 100px;
    padding-right: 100px;
}

@media all and (max-width:800px){
    nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .icon-menu {
        display: block; /* Show the menu icon on small screens */
    }

    nav ul {
        display: none; /* Hide the menu by default on mobile */
        flex-direction: column; /* Stack menu items vertically */
        position: absolute;
        top: 70px;
        right: 0;
        width: 50%;
        background: hsl(36, 100%, 99%);
        padding: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav.nav-open ul {
        display: flex; /* Show the menu when it's open */
    }
        .Colmar{
            width:650px;
            flex-direction: column;
        }
        .Colmar img{
            width: 750px;
            height: 800px;
        }
        .col-md-01{
            width:800px;
            flex-direction: column;
        }

        .col-mm-00{
            width:650px;
            flex-direction: column;
        }
        .Bright p{
            width: 600px;
            /* height: auto; */
            flex-direction: column;
            font-size: 4rem;
        }

        .light {
            flex-direction: column;
            margin-bottom: 8rem;
        }

        .light p{
            width: 650px;
            flex-direction: column;
            font-size: 1.5rem;
        }

        .light .button {
            color: hsl(36, 100%, 99%);
            background: hsl(240, 100%, 5%);
            padding: 15px 35px;
            cursor: pointer;
        }
    
        .light .button:hover {
            color: hsl(36, 100%, 99%);
            background: hsl(5, 85%, 63%);
        }

        .col-md-02 {
            padding: 30px 30px;
            padding-top: 2rem;
            width: 650px;
            height: auto; 
            min-height: 800px; 
        }
        .col-md-02 h1{
            font-size: 4.5rem;
        }
        .col-md-02 h5{
            font-size: 2rem;
            padding-bottom: 1.5rem;
        }

        .col-md-02 p{
            font-size: 1.6rem;
            line-height: 2rem;
        }
        .Colmond {
            width: 650px;
        }
        .col-md-03{
            flex-direction: column;
        }
        .col-mm-01 img{
            width: 500px;
        }
        .col-mm-01 h6{
            font-size: 4rem;
        }
        .col-mm-01 .one{
        font-size: 1.5rem ;
         color : hsl(240, 100%, 5%);
         margin-bottom: 0.5rem;
        font-weight: bold;
        max-width: 800px;
        }
        .col-mm-01 .two{
            flex-direction: column;
            font-size: 0.8rem;
        }

        .attribution{
            width: 650px;
            flex-direction: column;
        }
    
}